.app_nav{
  width: 100%;
  position: relative;
  padding: 0px 0 15px;
  background: rgba(0,0,0,0);
  top: 0;
  left: 0;
  z-index: 999;
  .app_nav_con{
    width: 100%;
    margin: 0 auto;
    .app_nav_con_nav{
      padding-top: 20px;
      padding-left: 15px;
      overflow: hidden;
      transition: all .3s;
      .app_nav_con_nav_logo{
        float: left;
        overflow: hidden;
        //padding-left: 20px;
        .app_nav_con_nav_logo_img{
          display: block;
          width: 320px;
          height: 40px;
          float: left;
          @include bg_fn(url("../img/logo-nav.png"), no-repeat, center, cover);
        }
      }
      .app_nav_con_nav_list{
        float: right;
        .app_nav_con_nav_list_ul{
          overflow: hidden;
          .app_nav_con_nav_list_ul_li{
            float: left;
            padding: 0 20px;
            .app_nav_con_nav_list_ul_li_item{
              display: block;
              @include font_link_text();
              line-height: 40px;
            }
            &.app_nav_con_nav_list_ul_liLogin{
              overflow: hidden;
              display: none;
              .app_nav_con_nav_list_ul_li_item{
                padding: 0;
                display: block;
                float: left;
                &.left{
                  margin-right: 10px;
                }
                &.right{
                  margin-left: 10px;
                }
                &.yh{
                  width: 19px;
                  height: 18px;
                  margin-left: 20px;
                  margin-top: 11px;
                  @include bg_fn(url("../img/nav-yonghu.png"), no-repeat, center, cover);
                }
              }
              .app_nav_con_nav_list_ul_li_item_sp{
                display: block;
                float: left;
                padding-top: 13px;
              }
            }
          }
        }
      }
    }
  }
}
