@import "./public/reset.scss";
@import "./public/pcStyle.scss";

.app_body2{
  height: 274px;
  background: #f9f9f9;
  .app_body2_con{
    width: 1200px;
    padding-top: 10px;
    margin: 0 auto;
    .app_body2_con_ul{
      width: 1000px;
      margin: 0 auto;
      padding: 30px 0;
      overflow: hidden;
      border-bottom: 1px solid #ececec;
      .app_body2_con_ul_li{
        float: left;
        overflow: hidden;
        margin-left: 40px;
        &.text{
          @include font_disabled_text();
          margin-top: 8px;
          margin-left: 0px;
        }
        .app_body2_con_ul_li_img{
          float: left;
          width: 46px;
          height: 46px;
          @include bg_fn( url("../img/webwxgetmsgimg.png"), no-repeat, center, cover);
        }
        .app_body2_con_ul_li_text{
          display: block;
          @include font_disabled_text();
          float: left;
          margin-left: 10px;
          margin-top: 8px;
        }
      }
    }
    .app_body2_con_db{
      width: 1000px;
      margin: 0 auto;
      padding-top: 10px;
      overflow: hidden;
      .app_body2_con_db_left{
        float: left;
        overflow: hidden;
        .app_body2_con_db_left_logo{
          float: left;
          width: 46px;
          height: 46px;
          @include bg_fn( url("../img/logo-1.png"), no-repeat, center, cover);
          margin-top: 84px;
        }
        .app_body2_con_db_left_text{
          float: left;
          @include font_help_text();
          color: #999999;
          margin-left: 10px;
          margin-top: 86px;
        }
        .app_body2_con_db_left_erweima{
          float: left;
          width: 127px;
          height: 127px;
          @include bg_fn( url("../img/qrcode_for_gh_15b803beb30c_1280.png"), no-repeat, center, cover);
          margin-top: 50px;
          margin-left: 60px;
        }
      }
      .app_body2_con_db_right{
        float: left;
        margin-top: 60px;
        margin-left: 100px;
        .app_body2_con_db_right_list{
          overflow: hidden;
          .app_body2_con_db_right_list_item{
            float: left;
            margin-left: 120px;
            .app_body2_con_db_right_list_item_a{
              display: block;
              @include font_link_text();
              font-size: 12px;
              line-height: 2;
              &:hover{
                text-decoration:underline;
              }
            }
          }
        }
      }
    }
  }
}
