@import "./public/reset.scss";
@import "./public/pcStyle.scss";
// 开发pc时请使用 pcStyle.scss 开发移动站点时请使用index.scss

// 移动端
// font_dpr rem

// pc端
// font_fn bg_fn
.clear{
  clear: both;
}

//start
.app{
  .app_header{
    @include bg_fn(url("../img/shouye-banner.jpg"), no-repeat, center, cover);
    height: 750px;
    .app_header_con{
      width: 100%;
      margin: 0 auto;
      .app_header_con_nav{
        padding-top: 20px;
        overflow: hidden;
        .app_header_con_nav_logo{
          float: left;
          overflow: hidden;
          padding-left: 20px;
          .app_header_con_nav_logo_img{
            display: block;
            width: 320px;
            height: 40px;
            float: left;
            @include bg_fn(url("../img/logo-nav.png"), no-repeat, center, cover);
          }
        }
        .app_header_con_nav_list{
          float: right;
          .app_header_con_nav_list_ul{
            overflow: hidden;
            .app_header_con_nav_list_ul_li{
              float: left;
              padding: 0 20px;
              .app_header_con_nav_list_ul_li_item{
                display: block;
                @include font_link_text();
                line-height: 40px;
              }
              &.app_header_con_nav_list_ul_liLogin{
                overflow: hidden;
                .app_header_con_nav_list_ul_li_item{
                  padding: 0;
                  display: block;
                  float: left;
                  &.left{
                    margin-right: 10px;
                  }
                  &.right{
                    margin-left: 10px;
                  }
                  &.yh{
                    width: 19px;
                    height: 18px;
                    margin-left: 20px;
                    margin-top: 11px;
                    @include bg_fn(url("../img/nav-yonghu.png"), no-repeat, center, cover);
                  }
                }
                .app_header_con_nav_list_ul_li_item_sp{
                  display: block;
                  float: left;
                  padding-top: 13px;
                }
              }
            }
          }
        }
      }
      .app_header_con_title{
        padding-top: 200px;
        .app_header_con_title_text0{
          text-align: center;
          @include font_main_head();
          line-height: 2;
        }
        .app_header_con_title_text1{
          text-align: center;
          @include font_sub_head();
          line-height: 2;
        }
      }
    }
  }
  .app_body0{
    background: #fff;
    .app_body0_con{
      width: 1000px;
      padding: 50px 0 100px;
      margin: 0 auto;
      .app_body0_con_ul{
        .app_body0_con_ul_li{
          overflow: hidden;
          padding: 60px 0;
          padding-left: 100px;
          &.xian{
            border-bottom: 1px solid #e4e4e4;
          }
          .app_body0_con_ul_li_left{
            float: left;
            width: 121px;
            height: 121px;
            @include bg_fn(url("../img/guifan.png"), no-repeat, center, cover);
          }
          .app_body0_con_ul_li_right{
            float: left;
            margin-top: 30px;
            margin-left: 30px;
            .app_body0_con_ul_li_right_title{
              @include font_small_head();
              color: #444;
              font-size: 26px;
            }
            .app_body0_con_ul_li_right_titleSub{
              @include font_small_head();
              color: #888;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .app_body2{
    height: 280px;
    background: #f9f9f9;
    .app_body2_con{
      width: 1200px;
      padding-top: 10px;
      margin: 0 auto;
      .app_body2_con_ul{
        width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        overflow: hidden;
        border-bottom: 1px solid #ececec;
        .app_body2_con_ul_li{
          float: left;
          overflow: hidden;
          margin-left: 40px;
          &.text{
            @include font_disabled_text();
            margin-top: 8px;
            margin-left: 0px;
          }
          .app_body2_con_ul_li_img{
            float: left;
            width: 46px;
            height: 46px;
            @include bg_fn( url("../img/webwxgetmsgimg.png"), no-repeat, center, cover);
          }
          .app_body2_con_ul_li_text{
            display: block;
            @include font_disabled_text();
            float: left;
            margin-left: 10px;
            margin-top: 8px;
          }
        }
      }
      .app_body2_con_db{
        width: 1000px;
        margin: 0 auto;
        padding-top: 10px;
        overflow: hidden;
        .app_body2_con_db_left{
          float: left;
          overflow: hidden;
          .app_body2_con_db_left_logo{
            float: left;
            width: 46px;
            height: 46px;
            @include bg_fn( url("../img/logo-1.png"), no-repeat, center, cover);
            margin-top: 84px;
          }
          .app_body2_con_db_left_text{
            float: left;
            @include font_help_text();
            color: #999999;
            margin-left: 10px;
            margin-top: 86px;
          }
          .app_body2_con_db_left_erweima{
            float: left;
            width: 127px;
            height: 127px;
            @include bg_fn( url("../img/qrcode_for_gh_15b803beb30c_1280.png"), no-repeat, center, cover);
            margin-top: 50px;
            margin-left: 60px;
          }
        }
        .app_body2_con_db_right{
          float: left;
          margin-top: 60px;
          margin-left: 100px;
          .app_body2_con_db_right_list{
            overflow: hidden;
            .app_body2_con_db_right_list_item{
              float: left;
              margin-left: 120px;
              .app_body2_con_db_right_list_item_a{
                display: block;
                @include font_link_text();
                font-size: 12px;
                line-height: 2;
                &:hover{
                  text-decoration:underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
