@import "./public/reset.scss";
@import "./public/pcStyle.scss";
@import "./public/style.scss";

body,html{
  overflow: hidden;
  height: 100%;
}
@mixin spa{
  height: 36px;
  line-height: 20px;
  width: 200px;
  float: left;
  font-size: 12px;
  color: #BD362F;
  text-indent: 10px;
  margin-top: 25px;
  }
.app{
  @include bg_fn(url("../img/shouye-banner.jpg"), no-repeat, center, cover);
  height: 750px;
  .appwrap{
    width:550px;
    height:400px;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-200px;
    margin-left: -250px;
    .title{
      margin:0 0 36px 28px;
    }
    .titlebottom{
      margin-left: -50px;
      margin-bottom: 20px;
      span{
        font-size: 18px;
      }
    }
    .borderline{
      width:600px;
      height:2px;
      color: #c0c0c0;
      background: #c0c0c0;
      margin: 0 0 40px -60px;
    }
    .formWrap{
      form{
        .form-group{
          overflow: hidden;
          width:660px;
          label{
            font-size: 14px;
          }
          .form-group-inner{
            float:left;
            .form-control{
              width:350px;
              height:60px;
              border:1.5px #c0c0c0 solid;
              outline: none;
              text-indent: 15px;
              &::-webkit-input-placeholder{
                font-size: 16px;
              }
            }
            #phone{
              background-color:#ececec;
              margin-left:28px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              border-bottom: none;
            }
            #message{
              border-bottom: none;
            }
            #authCodeSend{
              float: left;
              display: inline-block;
              position: absolute;
              left:305px;
              top:155px;
              width:114px;
              height:35px;
              background-color: #d2d2d2;
              color:#8d8d8d;
              text-align: center;
              line-height: 35px;
              border:none;
              border-radius: 5px;
              text-decoration: none;
              outline: none;
              cursor: pointer;
            }
            #password{
              margin-left:28px;
              border-bottom: none;
            }
            #passwordag{
              margin-left: 14px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
          .spa{
            @include spa;
          }
        }
        button{
          margin-top:30px;
          margin-left:86px;
          width:353px;
          height:53px;
          border:none;
          outline: none;
          background-color: #37b396;
          color:#fff;
          font-size: 16px;
          border-radius: 5px;
        }
      }
    }
  }
}
